<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div class='space-bottom fill-red dark pad2'>
      <h4><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved</h4>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <%= f.label :name %>
    <%= f.text_field :name, class: 'stretch' %>
  </fieldset>
  <fieldset>
    <%= f.label :email %>
    <%= f.text_field :email, class: 'stretch' %>
  </fieldset>
  <%= f.submit nil, class: 'btn btn-primary space-bottom' %>
<% end %>