<%= content_tag :p, class: 'space-bottom fill-green dark pad2' do %>
  <%= notice %>
<% end if notice %>
<h2 class='space-bottom1'>Users</h2>
<table class='breathe'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= user.name %>
        </td>
        <td>
          <%= user.email %>
        </td>
        <td class='text-right'>
          <%= link_to 'Show', user, class: 'pad1' %>
          <%= link_to 'Edit', edit_user_path(user), class: 'pad1' %>
          <%= link_to 'Destroy', user, method: :delete, class: 'pad1', data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to new_user_path, class: 'btn btn-primary' do %>
  <i class='icon icon-plus icon-sm pad0r'></i>New User
<% end %>
