<%= content_tag :p, class: 'space-bottom fill-green dark pad2' do %>
  <%= notice %>
<% end if notice %>

<h2 class='space-bottom1'>User</h2>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>


<p>
  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %> |  
  <%= link_to 'View all', users_path %>
</p>
